table{
    padding-left: 50px;
}

#first_input{
    padding-right: 20px;
}

/*
button.botao_deletar{
    margin-top: 10px;
    width: 70px;
    height: 30px;
}
*/
/*
button.botao_deletar{
    display: none;
}
*/

